@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* {
  font-family: 'Spoqa Han Sans', sans-serif;
  /*font-weight: 300;*/
  /* 100 300 400 700 */
}

body {
  margin: 20px auto;
  max-width: 1200px;
  font-weight: 400;
  background-color: #fdfdfd;
}

h1, h2 {
  font-weight: 700;
}

h1, h2, h3, h4, h5 {
  margin: 10px 0;
}

a {
  color: #00B7FF;
}

section {
  margin: 20px 10px;
  padding: 10px 20px;

  background-color: #ffffff;
  border: .1px solid #d7d7d7;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#recommend_form {
  margin: 0 10px;
}

#comment {
  width: 350px;
  height: 175px;
}